body {
    text-align: center;
    background: #363945 !important;
}

footer {
    position:fixed;
    left: 5px;
    bottom: 5px;
    height: 30px;
    color: white;
}

footer a {
    color: red;
}

footer a:hover {
    color: #ff5353;
    text-decoration: none;
}

.tableGame {
    width: 70%;
    height: 10vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: -20px;
}

#firstTableRow {
    margin-top: 2px !important;
}

#divHand {
    margin: 5px;
}

.chosen {
    border: 5px solid #ff6e6e !important;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInOut {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}

.hinted {
    background: mediumslateblue !important;
    animation: fadeInOut 3s infinite;
}

#btnNextHand {
    display: none;
    font-size: 200%;
    vertical-align: center;
    color: white;
}

#btnNextHand:hover {
    cursor: pointer;
}

#btnStart {
    margin-top: 10px;
    border: 5px solid #8d008d;
    border-radius: 50px;
    opacity: 0.7;

    font-family: Verdana;
    font-size: 125%;
    font-weight: bold;
}

#btnStart:hover {
    opacity: 1;
    transition: ease-in-out 0.3s;
    border-color: #ff16ff;
    background: antiquewhite;
}

#divBtnStart {
    margin-left: 20%;
    margin-right: 20%;
}

#gameTitle {
    font-family: "Sylfaen";  /* alternatives: Engravers MT, MingLiU-ExtB */
    font-size: 5vw;
    text-shadow: 1px 1px 5px black;
    color: #fa00fa;
    font-weight: bold;
}

.playable {
    width: 80%;
    filter: saturate(30%);
    user-select: none;
}

.nonplayableCard {
    width: 80%;
    filter: blur(1px);
    user-select: none;
}

.playable:hover, .playableHand:hover {
    cursor: pointer;
    border: 1px solid transparent;  /* makes it smaller */
}

.playableHand {
    width: 5%;
    user-select: none;
}

#infoRotations {
    display: none;
    font-weight: bold;
}

#message {
    display: none;
    font-size: 150%;
    font-weight: bold;
}

#oracleMessage {
    font-size: 150%;
    color: rebeccapurple;
    font-weight: bold;
}

#divScore {
    display: none;
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    right: 30%;
}

#btnOracle {
    background: purple;
    position: absolute;
    right: 5%;
    top: 1vh;
}

#btnOracle:hover {
    background: #600060;
}

#redo {
    display: none;
}

.popover {
    background: #fa00fa !important;
    color: white !important;
    font-weight: bold !important;
}

#gameControls {
    display: none;
    margin-left: 20%;
}

